.footer {
  background-color: $regular-bg;

  @media (max-width: 768px) {
    padding-top: 115px;
    padding-bottom: 40px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  @media (min-width: 1201px) {
    padding-top: 165px;
    padding-bottom: 30px;
  }
}

.sotial {
  display: flex;
  justify-content: center;
  column-gap: 34px;
  margin-bottom: 21px;

  @media (max-width: 240px) {
    // flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 14vw;
    row-gap: 4vw;
  }
}

.sotial__icon {
  width: 24px;
  height: 24px;

  fill: none;
  stroke: $white;
}

.copyright {
  text-align: center;

  @media (max-width: 319px) {
    @include Manrope(4vw, 500);
  }
  @media (min-width: 320px) and (max-width: 768px) {
    @include Manrope(14px, 500);
  }
  @media (min-width: 769px) {
    @include Manrope(16px, 500);
  }
}
