.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
}

.logo_svg {
  fill: $white;
  width: 56px;
  height: 56px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;

  @media (max-width: 1200px) {
    display: none;
  }
  @media (min-width: 1201px) {
    display: flex;
  }
}

.nav__item {
  height: 22px;
  box-sizing: content-box;
  border: 2px solid $white;
  border-radius: 20px;
  padding: 10px 16px;
}

.nav__link {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.nav__icon {
  width: 16px;
  height: 16px;
  fill: $white;
}

.nav__text {
  @include Manrope;
}

.menu {
  height: 22px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: content-box;
  border: 2px solid $white;
  border-radius: 20px;
  padding: 18px;
  background-color: transparent;

  @media (max-width: 1200px) {
    display: flex;
  }
  @media (min-width: 1201px) {
    display: none;
  }
}

// .menu__link {
//   height: 22px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   column-gap: 12px;
//   box-sizing: content-box;
//   border: 2px solid $white;
//   border-radius: 20px;
//   padding: 18px;
// }

.menu__icon {
  width: 22px;
  height: 16px;
  fill: $white;
}
