.creative {
  background: $grad-line-bg;
  min-height: 800px;

  @media (max-width: 768px) {
    padding-top: 415px;
    padding-bottom: 150px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 275px;
    padding-bottom: 200px;
  }
  @media (min-width: 1201px) and (max-width: 1440px) {
    padding-top: 490px;
    padding-bottom: 120px;
  }
  @media (min-width: 1441px) and (max-width: 1920px) {
    height: 100vh;
    padding-top: 490px;
    padding-bottom: 120px;
  }
  @media (min-width: 1921px) {
    padding-top: 490px;
    padding-bottom: 120px;
  }
}

.creative__wrapper {
  text-align: left;
}

.creative__text {
  @media (max-width: 350px) {
    width: 14.8vw;
    @include DynaPuff(13.7vw);
  }
  @media (min-width: 351px) and (max-width: 768px) {
    width: 325px;
    @include DynaPuff;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    width: 525px;
    @include DynaPuff(80px);
  }
  @media (min-width: 1201px) {
    width: 850px;
    @include DynaPuff(80px);
  }
}
