.alex {
  background-color: $regular-bg;
  overflow: hidden;
  position: relative;

  @media (max-width: 768px) {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  @media (min-width: 769px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid $s2-circles;
    position: absolute;
    top: 50%;

    @media (max-width: 768px) {
      width: 168px;
      height: 320px;
      right: -8%;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      width: 268px;
      height: 512px;
      right: -2%;
    }
    @media (min-width: 1201px) {
      width: 268px;
      height: 512px;
      right: 5%;
    }
  }

  &::before {
    transform: translate(50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(50%, -50%) rotate(-45deg);
  }
}

.alex__wrapper {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 40px;

  @media (min-width: 350px) and (max-width: 768px) {
    width: 350px;
  }
  @media (min-width: 769px) {
    width: 540px;
  }
}

.alex__title {
  @media (max-width: 220px) {
    @include DynaPuff(17vw, 700, $font-yellow);
  }

  @media (min-width: 221px) and (max-width: 768px) {
    @include DynaPuff(36px, 700, $font-yellow);
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    @include DynaPuff(48px, 700, $font-yellow);
  }
  @media (min-width: 1201px) {
    @include DynaPuff(48px, 700, $font-yellow);
  }
}

.alex__text {
  @include Manrope(16px, 500);
}

.counter__list {
  display: flex;

  @media (max-width: 280px) {
    flex-wrap: wrap;
    gap: 5.35vw;
  }
  @media (max-width: 281px) and (max-width: 768px) {
    column-gap: 15px;
    justify-content: space-between;
  }
  @media (min-width: 769px) {
    column-gap: 100px;
    justify-content: start;
  }
}

.counter__item {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 5px;
}

.counter__number {
  @media (max-width: 768px) {
    @include DynaPuff(36px);
  }
  @media (min-width: 769px) {
    @include DynaPuff;
  }
}

.counter__signature {
  @include Manrope;

  @media (max-width: 768px) {
    width: 75px;
  }
}
