.project {
  background-color: $bg-s3;

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 85px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 50px;
    padding-bottom: 125px;
  }
  @media (min-width: 1201px) {
    padding-top: 85px;
    padding-bottom: 85px;
  }
}

.project__grid {
  display: grid;
  grid-template-rows: 2fr;
  // overflow: hidden;

  @media (max-width: 768px) {
    // height: 1200px;
    // height: calc((100vw - (20px * 2 + 20px))*2);
    grid-template-columns: 1fr;

    row-gap: 65px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 100px;
  }
  @media (min-width: 1201px) {
    //   grid-template-rows: 1050px 545px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 65px;
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 22px;

  border-radius: 24px;
  background: $bg-s3-cards;

  box-sizing: border-box;
  padding: 20px;

  @media (max-width: 210px) {
    padding: 9.5vw;
  }

  &:first-child {
    @media (max-width: 768px) {
      grid-column-end: span 1;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      grid-column-end: span 2;
    }
    @media (min-width: 1201px) {
      grid-column-end: span 3;
    }
  }

  &:last-child {
    @media (min-width: 769px) and (max-width: 1200px) {
      display: none;
    }
  }

  &:nth-last-child(-n + 2) {
    @media (max-width: 768px) {
      display: none;
    }
  }
}

.project__viewport {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 13px;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
  }

  &::before {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: $white;
    top: 20px;
    right: 20px;
  }

  &::after {
    width: 34px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M16.822 8.634a1 1 0 0 0 .997.997l5.105-.028L8.485 24.042A1 1 0 0 0 9.9 25.456l14.432-14.432v5.12a1.002 1.002 0 1 0 2 .006l.008-5.536a3 3 0 0 0-2.998-2.998l-5.523.02a1 1 0 0 0-.997.998Z' fill='%23374957'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' transform='rotate(45 8.485 20.485)' d='M0 0h24v24H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    top: 31px;
    right: 31px;
  }
}

.project__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project__img--add {
  position: absolute;
  top: 0;
  left: 0;
}

.project__title {
  &--main {
    @media (max-width: 230px) {
      @include DynaPuff(14vw, 600, $font-gray);
    }
    @media (min-width: 231px) and (max-width: 768px) {
      @include DynaPuff(32px, 600, $font-gray);
    }
    @media (min-width: 769px) {
      @include DynaPuff(40px, 600, $font-gray);
    }
  }

  &--min {
    @media (max-width: 200px) {
      @include DynaPuff(12vw, 700, $font-gray);
    }
    @media (min-width: 201px) and (max-width: 768px) {
      @include DynaPuff(24px, 700, $font-gray);
      line-height: 29px;
    }
    @media (min-width: 769px) {
      @include DynaPuff(32px, 700, $font-gray);
      line-height: 38px;
    }
  }
}

.project__text {
  @media (max-width: 200px) {
    @include DynaPuff(7.5vw, 500, $font-gray);
  }

  &--main {
    @media (min-width: 201px) and (max-width: 768px) {
      @include Manrope(15px, 700, $black);
      line-height: 20px;
    }
    @media (min-width: 769px) {
      width: 580px;
      @include Manrope(16px, 700, $black);
      line-height: 22px;
    }
  }

  &--min {
    @media (min-width: 201px) and (max-width: 768px) {
      @include Manrope(15px, 500, $black);
      line-height: 20px;
    }
    @media (min-width: 769px) {
      @include Manrope(16px, 500, $black);
      line-height: 22px;
    }
  }
}