.graphics {
  background-color: $regular-bg;

  @media (max-width: 768px) {
    padding-top: 60px;
    padding-bottom: 95px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 82px;
    padding-bottom: 130px;
  }
  @media (min-width: 1201px) {
    padding-top: 82px;
    padding-bottom: 140px;
  }
}

.graphics__title {
  @media (max-width: 340px) {
    @include DynaPuff(10vw);
    margin-bottom: 8.82vw;
  }
  @media (min-width: 341px) and (max-width: 768px) {
    @include DynaPuff(36px);
    margin-bottom: 30px;
  }
  @media (min-width: 769px) {
    @include DynaPuff(80px);
    margin-bottom: 40px;
  }
}

.graphics__list {
  display: flex;
  gap: 26px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
  @media (min-width: 769px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.graphics__item {
  border-radius: 40px;
  overflow: hidden;
  position: relative;

  flex: 1 1 calc((100% - 26px) / 2 - 20px);

  @media (max-width: 768px) {
    flex: 1 0 calc((100vw - (2 * 20px)));
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    &:first-child {
      height: 415px;
    }
    &:not(:first-child) {
      height: 325px;
    }
  }
  @media (min-width: 1201px) and (max-width: 1920px) {
    // height: 415px; // 1440px
    height: 28.82vw;
  }
  @media (min-width: 1921px) {
    height: 555px;
  }

  &:first-child {
    @media (min-width: 769px) {
      flex-basis: 100%;
    }
  }
}

.graphics__item {
  &:first-child::after,
  &:nth-child(2)::after,
  &:nth-child(3)::after {
    content: "";
    display: block;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }

  &:first-child::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 268 268'%3E%3Cpath d='M130.424 3.177c.503-4.236 6.649-4.236 7.152 0l4.216 35.532c5.444 45.881 41.618 82.055 87.499 87.499l35.532 4.216c4.236.503 4.236 6.649 0 7.152l-35.532 4.216c-45.881 5.444-82.055 41.618-87.499 87.499l-4.216 35.532c-.503 4.236-6.649 4.236-7.152 0l-4.216-35.532c-5.444-45.881-41.618-82.055-87.5-87.499l-35.531-4.216c-4.236-.503-4.236-6.649 0-7.152l35.532-4.216c45.881-5.444 82.055-41.618 87.499-87.5l4.216-35.531Z' fill='%23F8841D'/%3E%3C/svg%3E");

    @media (max-width: 768px) {
      // width: 172px;
      // height: 172px;
      width: 46vw;
      height: 46vw;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      width: 227px;
      height: 227px;
    }
    @media (min-width: 1201px) {
      width: 268px;
      height: 268px;
    }
  }

  &:nth-child(2)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 187 192'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M94.5 100.713c-2.565 50.203-43.797 90.196-94.5 90.78V0c50.703.585 91.935 40.577 94.5 90.78C97.031 41.239 137.217 1.64 187 .044V191.45c-49.783-1.597-89.969-41.195-92.5-90.737Z' fill='%23F2C94C'/%3E%3C/svg%3E");

    @media (max-width: 768px) {
      // width: 134px;
      // height: 137px;
      width: 35.73vw;
      height: 35.73vw;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      width: 147px;
      height: 151px;
    }
    @media (min-width: 1201px) {
      width: 187px;
      height: 192px;
    }
  }

  &:nth-child(3)::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 233 225'%3E%3Cpath d='M45.526 218.498a33.838 33.838 0 0 0 19.948 6.482c10.442 0 20.747-4.78 27.379-13.763a.77.77 0 0 0 .054-.06l.047-.063.023-.033.046-.065 23.468-32.271 23.468 32.271c.023.035.047.062.07.092a.839.839 0 0 1 .032.044c11.054 15.056 32.294 18.373 47.412 7.383 15.135-10.989 18.519-32.237 7.601-47.411l-.024-.038a.42.42 0 0 0-.061-.081l-23.417-32.289 37.94-12.35c17.822-5.801 27.617-25.041 21.818-42.87-5.798-17.828-25.015-27.627-42.854-21.843l-37.939 12.3-.017-39.927C150.502 15.26 135.248 0 116.508 0c-18.74 0-33.994 15.26-34.011 34.023l-.034 39.893-37.94-12.3a.378.378 0 0 1-.12-.034C26.6 55.866 7.452 65.665 1.67 83.46c-5.782 17.794 3.945 36.966 21.682 42.818a.445.445 0 0 1 .045.017l.063.024.028.01 37.923 12.35-23.417 32.289a.357.357 0 0 1-.034.051.342.342 0 0 0-.034.051c-10.935 15.174-7.533 36.439 7.602 47.428Z' fill='%232F80ED'/%3E%3C/svg%3E");

    @media (max-width: 768px) {
      // width: 148px;
      // height: 143px;
      width: 39.5vw;
      height: 38vw;
    }
    @media (min-width: 769px) and (max-width: 1200px) {
      width: 183px;
      height: 177px;
    }
    @media (min-width: 1201px) {
      width: 233px;
      height: 225px;
    }
  }
}

.graphics__img {
  position: relative;

  &--newspaper {
    object-fit: fill;
    width: 130%;
    height: 265%;
    top: -85%;
    filter: grayscale(100%) brightness(0.85) contrast(1.15);
  }

  &--kaleido {
    object-fit: cover;
    object-position: top;
    width: 100%;
    top: -50%;
    filter: grayscale(100%) brightness(1.15);
  }

  &--droom {
    // height: 100%;
    top: 0%;
    filter: grayscale(100%);

    @media (max-width: 768px) {
    }
    @media (min-width: 769px) and (max-width: 1200px) {
    }
    @media (min-width: 1201px) {
      // width: 100%;
    }
  }
}
