.refrige {
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  &::before {
    background-image: url("../images/content/s5-refrige/bg.jpg");
    filter: grayscale(50%) brightness(0.5) contrast(0.9);
  }

  &::after {
    background-color: $bg-s3;
    opacity: 0.3;
    filter: contrast(1.8);
  }

  @media (max-width: 768px) {
    padding-top: 180px;
    padding-bottom: 175px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 275px;
    padding-bottom: 300px;
  }
  @media (min-width: 1201px) {
    padding-top: 300px;
    padding-bottom: 330px;
  }
}

.refrige__text {
  @media (max-width: 200px) {
    @include DynaPuff(12vw);
  }

  @media (min-width: 200px) and (max-width: 768px) {
    @include DynaPuff(24px);
  }
  @media (min-width: 769px) {
    @include DynaPuff;
  }
}
