.new {
  background-color: $regular-bg;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    padding-top: 55px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-top: 95px;
  }
  @media (min-width: 1201px) {
    padding-top: 80px;
  }
}

.new__link {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 139px;
  border: 1px solid $S6-border;

  @media (max-width: 200px) {
    padding: 12px 5vw;
    column-gap: 4vw;
  }
  @media (min-width: 201px) and (max-width: 319px) {
    padding: 12px 35px;
    column-gap: 20px;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    padding: 12px 11vw;
    column-gap: 6.25vw;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding: 21px 38px;
    column-gap: 45px;
  }
  @media (min-width: 1201px) {
    max-width: 915px;
    column-gap: 45px;
    padding: 42px 137px;
  }
}

.new__dawn {
  stroke: $white;

  @media (max-width: 768px) {
    width: 52px;
    height: 51px;
  }
  @media (min-width: 769px) {
    width: 108px;
    height: 108px;
  }
}

.new__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  @media (max-width: 768px) {
    row-gap: 4px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    row-gap: 17px;
  }
  @media (min-width: 1201px) {
    row-gap: 17px;
  }
}

.new__title {
  @media (max-width: 380px) {
    @include DynaPuff(4.5vw);
  }
  @media (min-width: 381px) and (max-width: 480px) {
    @include DynaPuff(5vw);
  }
  @media (min-width: 481px) and (max-width: 780px) {
    @include DynaPuff(6vw);
  }
  @media (min-width: 781px) {
    @include DynaPuff;
  }
}

.new__wrap {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 24px;

  @media (max-width: 319px) {
    flex-direction: column;
    gap: 3vw;
  }
  @media (min-width: 319px) and (max-width: 480px) {
    column-gap: 3vw;
  }
}

.new__signature {
  @media (max-width: 420px) {
    @include Manrope(3.6vw, 500);
  }
  @media (min-width: 421px) and (max-width: 768px) {
    @include Manrope(15px, 500);
  }
  @media (min-width: 769px) {
    @include Manrope(24px, 500);
  }
}

.new__arrow {
  stroke: $white;

  @media (max-width: 768px) {
    width: 33px;
    height: 15px;
  }
  @media (min-width: 769px) {
    width: 55px;
    height: 26px;
  }
}
