@mixin DynaPuff($size: 48px, $weight: 700, $color: $white) {
  font-family: $DynaPuff;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}

@mixin Manrope($size: 16px, $weight: 700, $color: $white) {
  font-family: $Manrope;
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
