body {
  font-style: normal;
  line-height: normal;
  background-color: $black;
}

.container {
  width: 100%;
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
}

.inner {
  @media (max-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: 1201px) {
    padding-left: 9.9vw;
    padding-right: 9.9vw;
  }
  @media (min-width: 1921px) {
    padding-left: 190px;
    padding-right: 190px;
  }
}
