<footer class="container inner footer">
  <ul class="sotial">
    <li class="sotial__item">
      <svg class="sotial__icon">
        <use xlink:href="./images/icons/sprite.svg#twitch"></use>
      </svg>
    </li>
    <li class="sotial_item">
      <svg class="sotial__icon">
        <use xlink:href="./images/icons/sprite.svg#twitter"></use>
      </svg>
    </li>
    <li class="sotial_item">
      <svg class="sotial__icon">
        <use xlink:href="./images/icons/sprite.svg#instagram"></use>
      </svg>
    </li>
    <li class="sotial_item">
      <svg class="sotial__icon">
        <use
          xlink:href="./images/icons/sprite.svg#linkedin"
          class="sotial__icon"
        ></use>
      </svg>
    </li>
  </ul>
  <p class="copyright">Copyright © 2023 Syeda Urooj</p>
</footer>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();

      document.querySelector(this.getAttribute("href")).scrollIntoView({
        behavior: "smooth",
      });
    });
  });
</script>
