<header class="container inner header">
  <a href="#home" class="logo">
    <svg class="logo_svg">
      <use xlink:href="#logo-general"></use>
    </svg>
  </a>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#project">
          <svg class="nav__icon">
            <use xlink:href="#magictool"></use>
          </svg>
          <p class="nav__text">Portfolio</p>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#resume">
          <svg class="nav__icon">
            <use xlink:href="#list-resume"></use>
          </svg>
          <p class="nav__text">Resume</p>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#testimonials">
          <svg class="nav__icon">
            <use xlink:href="#testi-icon"></use>
          </svg>
          <p class="nav__text">Testimonials</p>
        </a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#contacts">
          <svg class="nav__icon">
            <use xlink:href="#contacts-icon"></use>
          </svg>
          <p class="nav__text">Contact</p>
        </a>
      </li>
    </ul>
    <button class="menu">
      <svg class="menu__icon">
        <use xlink:href="#menu-icon"></use>
      </svg>
    </button>
  </nav>


</header>

<script>
  const header = document.querySelector(".header");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 0) {
      header.style.backgroundColor = "black";
    } else {
      header.style.backgroundColor = "transparent";
    }
  });
</script>
