<section class="container inner creative" id="home">
  <div class="creative__wrapper">
    <h1 class="creative__text">
      Unleash Creativity
      <br />
      Through Minimalism.
    </h1>
  </div>
</section>
