<section class="container inner alex" id="resume">
  <div class="alex__wrapper">
    <p class="alex__title">Meet Alex Johnsson</p>
    <p class="alex__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna.
    </p>
    <ul class="counter__list">
      <li class="counter__item">
        <p class="counter__number">39</p>
        <p class="counter__signature">Happy Clients</p>
      </li>
      <li class="counter__item">
        <p class="counter__number">50</p>
        <p class="counter__signature">Sleek Projects</p>
      </li>
      <li class="counter__item">
        <p class="counter__number">24</p>
        <p class="counter__signature">App Designs</p>
      </li>
    </ul>
  </div>
</section>
