<section class="container inner project" id="project">
  <div class="project__grid">
    <a class="project__link" href="#">
      <div class="project__viewport">
        <img
          class="project__img project__img--add"
          src="./images/content/s3-project/phones.png"
          alt="Mobile"
        />
        <img
          class="project__img"
          src="./images/content/s3-project/frame_01.jpg"
          alt="Mobile"
        />
      </div>
      <p class="project__title project__title--main">Project: Banking Mobile App</p>
      <p class="project__text project__text--main">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna.
      </p>
    </a>
    <a class="project__link" href="#">
        <div class="project__viewport">
          <img
            class="project__img"
            src="./images/content/s3-project/frame_02.jpg"
            alt="Mobile"
          />
        </div>
        <p class="project__title project__title--min">Banking Mobile App</p>
        <p class="project__text project__text--min">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
    </a>
    <a class="project__link" href="#">
        <div class="project__viewport">
          <img
            class="project__img"
            src="./images/content/s3-project/frame_03.jpg"
            alt="Mobile"
          />
        </div>
        <p class="project__title project__title--min">Save Planet Mobile app</p>
        <p class="project__text project__text--min">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
    </a>
    <a class="project__link" href="#">
        <div class="project__viewport">
          <img
            class="project__img"
            src="./images/content/s3-project/frame_04.jpg"
            alt="Mobile"
          />
        </div>
        <p class="project__title project__title--min">Banking Mobile App</p>
        <p class="project__text project__text--min">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna.
        </p>
    </a>
  </div>
</section>
