<section class="container inner graphics" id="contacts">
    <h2 class="graphics__title">Graphics Design</h2>
    <ul class="graphics__list">
      <li class="graphics__item">
        <img
          class="graphics__img graphics__img--newspaper"
          src="./images/content/s4-graphics/abstract-01.jpg"
          alt="Mobile"
        />
      </li>
      <li class="graphics__item">
        <img
          class="graphics__img graphics__img--kaleido"
          src="./images/content/s4-graphics/abstract-02.jpg"
          alt="Mobile"
        />
      </li>
      <li class="graphics__item">
        <img
          class="graphics__img graphics__img--droom"
          src="./images/content/s4-graphics/abstract-03.jpg"
          alt="Mobile"
        />
      </li>
    </ul>
</section>
