<section class="container inner refrige" id="testimonials">
  <p class="refrige__text">“Good design is like a refrigerator - when it works, no one notices, but when it doesn't, it sure stinks.”</p>
</section>
