<section class="container inner new">
    <a class="new__link" href="#">
        <svg class="new__dawn">
            <use xlink:href="#dawn"></use>
          </svg>
        <div class="new__text">
            <p class="new__title">Have a new project?</p>
            <div class="new__wrap">
                <p class="new__signature">Book a call now</p>
                <svg class="new__arrow">
                    <use xlink:href="#arrow-point"></use>
                  </svg>
            </div>
        </div>
    </a>
</section>