<svg xmlns="http://www.w3.org/2000/svg" display="none">
  <!-- HEADER -->

  <symbol id="logo-general" viewBox="0 0 56 56">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M55.998 27.998s.332-12.866-7.4-20.597C40.869-.329 28.003.002 28.003.002S28 .068 28 .194V.067l-.002-.065S15.132-.33 7.4 7.401C-.329 15.131.002 27.998.002 27.998s12.866.332 20.597-7.4C27.665 13.534 27.996 2.178 28 .277c.005 1.9.335 13.257 7.401 20.323 7.73 7.73 20.597 7.399 20.597 7.399ZM7.4 48.598C-.329 40.869.002 28.003.002 28.003s12.866-.332 20.597 7.4c7.066 7.065 7.397 18.422 7.401 20.322.005-1.9.335-13.257 7.401-20.323 7.73-7.73 20.597-7.399 20.597-7.399s.332 12.866-7.4 20.597c-7.73 7.73-20.596 7.399-20.596 7.399S28 55.932 28 55.806c0 .126-.002.192-.002.192s-12.866.332-20.597-7.4Z"
    />
  </symbol>
  <symbol id="menu-icon" viewBox="0 0 16 16">
    <g clip-path="url(#clip0_6308_33)">
      <path
        d="M.667 4h14.666a.667.667 0 1 0 0-1.333H.667A.667.667 0 0 0 .667 4ZM15.333 6H6a.667.667 0 0 0 0 1.333h9.333a.667.667 0 1 0 0-1.333ZM15.333 12.667H6A.667.667 0 0 0 6 14h9.333a.667.667 0 0 0 0-1.333ZM15.333 9.333H.667a.667.667 0 0 0 0 1.334h14.666a.666.666 0 1 0 0-1.334Z"
      />
    </g>
  </symbol>

  <!-- HEADER: NAVIGATION -->

  <symbol id="magictool">
    <g clip-path="url(#a)">
      <path
        d="M12 6.042a2.032 2.032 0 0 0-.6-1.442 2.093 2.093 0 0 0-2.89 0L.6 12.512A2.042 2.042 0 0 0 3.487 15.4L11.4 7.487a2.032 2.032 0 0 0 .6-1.445Zm-9.456 8.416a.724.724 0 0 1-1 0 .708.708 0 0 1 0-1l5.18-5.18 1.003 1.004-5.183 5.177Zm7.915-7.914L8.667 8.336l-1-1.003 1.792-1.792a.708.708 0 1 1 1 1v.003Zm-7.217-4.64 1.033-.296L4.57.575a.794.794 0 0 1 1.527 0l.294 1.033 1.034.295a.794.794 0 0 1 0 1.527l-1.034.294-.294 1.034a.794.794 0 0 1-1.527 0l-.295-1.034-1.033-.294a.794.794 0 0 1 0-1.527Zm12.183 9.526-1.034.295-.294 1.033a.794.794 0 0 1-1.527 0l-.295-1.033-1.033-.295a.794.794 0 0 1 0-1.527l1.033-.295.295-1.033a.794.794 0 0 1 1.527 0l.294 1.033 1.034.295a.794.794 0 0 1 0 1.527Zm-3.588-9.764.904-.258L13 .503a.694.694 0 0 1 1.333 0l.258.904.904.258a.695.695 0 0 1 0 1.333l-.904.258-.258.906a.695.695 0 0 1-1.333 0l-.258-.903-.905-.26a.694.694 0 0 1 0-1.333Z"
      />
    </g>
  </symbol>
  <symbol id="list-resume" viewBox="0 0 24 24">
    <g clip-path="url(#a)">
      <path
        d="M17 14a1 1 0 0 1-1 1H8a1 1 0 0 1 0-2h8a1 1 0 0 1 1 1Zm-4 3H8a1 1 0 1 0 0 2h5a1 1 0 0 0 0-2Zm9-6.515V19a5.006 5.006 0 0 1-5 5H7a5.006 5.006 0 0 1-5-5V5a5.006 5.006 0 0 1 5-5h4.515a6.958 6.958 0 0 1 4.95 2.05l3.484 3.486A6.949 6.949 0 0 1 22 10.485Zm-6.949-7.021a5.008 5.008 0 0 0-1.05-.78V7a1 1 0 0 0 1 1h4.315a4.98 4.98 0 0 0-.78-1.05L15.05 3.464Zm4.95 7.021c0-.165-.033-.323-.048-.485H15a3 3 0 0 1-3-3V2.047c-.162-.015-.32-.047-.485-.047H7a3 3 0 0 0-3 3v14a3 3 0 0 0 3 3h10a3 3 0 0 0 3-3v-8.515Z"
      />
    </g>
  </symbol>
  <symbol id="testi-icon" viewBox="0 0 24 24">
    <g clip-path="url(#a)">
      <path
        d="M23.535 14.726a1.989 1.989 0 0 0-1.726-.717A11.993 11.993 0 0 0 13 18.987V13.91A6.006 6.006 0 0 0 18 8c0-2.793-1.943-5.152-3.844-7.09a3.085 3.085 0 0 0-4.312 0C7.944 2.847 6 5.206 6 8a6.006 6.006 0 0 0 5 5.91v5.077a11.994 11.994 0 0 0-8.809-4.978 1.994 1.994 0 0 0-1.726.716 1.97 1.97 0 0 0-.393 1.792C2.112 23.855 11.592 24 11.994 24h.012c.4 0 9.884-.145 11.923-7.483a1.976 1.976 0 0 0-.394-1.791ZM8 8c0-2.654 3.318-5.719 3.338-5.736C10.973 3.2 8.693 8.9 11 9a1 1 0 0 0 1-1 13.472 13.472 0 0 1 1.257-5.137C14.688 4.393 16 6.154 16 8a4 4 0 0 1-8 0Zm-5.994 8a10.267 10.267 0 0 1 8.462 5.863C7.971 21.517 3.2 20.3 2.006 16Zm11.54 5.861A10.378 10.378 0 0 1 22 15.982c-1.194 4.303-5.954 5.53-8.455 5.88Z"
      />
    </g>
  </symbol>
  <symbol id="contacts-icon" viewBox="0 0 24 24">
    <g clip-path="url(#a)">
      <path
        d="M14.5 7a3.514 3.514 0 0 0-2.5.99 3.567 3.567 0 0 0-6 2.71c0 3.256 4.874 6.736 5.43 7.12a1 1 0 0 0 1.14 0c.556-.384 5.43-3.864 5.43-7.12A3.608 3.608 0 0 0 14.5 7ZM12 15.762c-1.741-1.33-4-3.56-4-5.062-.076-2.006 2.913-2.4 3-.246V11a1 1 0 1 0 2 0v-.546c.087-2.152 3.076-1.76 3 .246 0 1.5-2.26 3.732-4 5.062ZM12.836.028A12 12 0 0 0 .03 12.854C.47 19.208 6.082 24 13.083 24H19a5.005 5.005 0 0 0 5-5v-6.66A12.21 12.21 0 0 0 12.836.028ZM22 19a3 3 0 0 1-3 3h-5.917C7.049 22 2.4 18.1 2.025 12.716A10 10 0 0 1 12.7 2.024 10.2 10.2 0 0 1 22 12.34V19Z"
      />
    </g>
  </symbol>

  <!-- SECTION 6 -->

  <symbol id="dawn" viewBox="0 0 108 108">
    <path
      d="m54 0 .01 53.947L74.666 4.11 54.03 53.955l38.154-38.139-38.14 38.154 49.845-20.635-49.836 20.654L108 54l-53.947.01 49.836 20.655L54.045 54.03l38.139 38.154-38.154-38.14 20.635 49.845L54.01 54.053 54 108l-.01-53.947-20.655 49.836L53.97 54.045 15.816 92.184l38.14-38.154L4.11 74.665 53.947 54.01 0 54l53.947-.01L4.11 33.334 53.955 53.97 15.816 15.816l38.154 38.14L33.335 4.11l20.654 49.837L54 0Z"
      stroke-width="4"
    />
  </symbol>
  <symbol id="arrow-point" viewBox="0 0 57 29">
    <path
      d="M1 14.5h53M43 1.5l13 13-13 13"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </symbol>
</svg>
