// BASE COLORS:
$white: #ffffff;
$black: #000000;

// REGULARS COLORS:
$regular-bg: #202020; // Header, S2, S4, S6, Footer – background
$S6-border: #f2f2f2; // S6 border line
$bg-s3-cards: #fffef2; // S3 – cards bg

$s2-circles: #737373; // S2 – circles
$bg-s3: #3c3c3c; // S3 – background 

// FONTS COLORS:
$font-gray: #565656; // Font brand
$font-yellow: #faeb49; // Font brand

// SECTION 1 >>> LINEAR GRADIENT:
$grad-line-bg: linear-gradient(253deg, #ffee32 -14%, #d6d6d6 125%);